
/*Formatar tela*/
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

/*Tela inteira*/
.general {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background: linear-gradient(to bottom, #33dfc2, #1c99d3);
}

/*Container*/
.container{
    width: 30vw;
    padding: 3%;
    border-radius: 10px;
    background: #fff;
}

/*div imagem*/
.div-image{
    display: flex;
    justify-content: center;
    padding: 5px;
}

/*imagem*/
.image {
    width: 5vw;
}

/*Div titulo*/
.div-title{
    padding: 3%;

}

/*Titulo "Sorteador Online"*/
.title{
    color: #192652;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

/*Sorteando um número*/
/* número sorteado*/
p {
    color: #192652;
    text-align: center;
    margin: 15px;
}

/*div botão*/
.div-button {
    padding:  10px;
    display: flex;
}

/*botão*/
.button {
    width: 50vw;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #192652;
}

/*Efeito ao passar o mouse sob o botão*/
.button:hover{
    background: #36467e;
}

/*Responsividade*/
@media only screen and (max-width: 600px) {
  
    .container{
        width: 90vw;
}

    .button{
        width: 100vw;
}

    .image{
        width: 15vw;
}
}

/*Desenvolvido por Witor Linhares*/
